body{
	background-color:#f1f1f1;
	margin:0px;
	font-family:arial;
	font-size:14px;

}
/* --------------------------header section-------------------------- */
#header{
	background-color:white;
	}

#subheader{
	background-color:white;
	margin:0px;
	height:40px;
	border-bottom:solid;
	border-bottom-color:green;
	}
#subheader ul{
		
	list-style:none;
	float:right;
		}
#subheader ul li{
	display:inline;
	margin-right:20px;
}
#logo{
	margin-left:10px;
	
}
#line{
	
	background-color:green;
	height:20px;
	}
/* ---------------------------------body section--------------------------- */
#main{
	display:inline;
}
.text{
	width:30%;
	margin:10px;
	float:left;
}


#register{
	background-color:white;
	border-radius:10px;
	width:40%;
	margin:40px;
	padding:25px;
	float:right;
	border-bottom:solid;
	border-top:solid;
	border-bottom-color:green;
	border-top-color:green;	
	font-family:verdana;
}

.leftside{
	font-size:15px;
	font-family:verdana;
	
	
}

.rightside{
	
	margin-left:30%;
	
}
input[type=text],input[type=password],input[type=email]{
	width:65%;
	height:20px;
	border-radius:2px;
	
}

.button{
	width:20%;
	height:15px;
	background-color:#179a2e;
	color:white;
	padding:10px;
	margin-bottom:10px;
	margin-left:35%;
	text-align:center;
	font-size:110%;
	vertical-align:middle;
	border-radius:5px;
	}
a{
	text-decoration:none;
}
.button:hover{
	background-color:#21ca21;
}
.or{
	font-size:20px;
	margin-left:25%;
}

.googleandfacebook{
	display:inline;
}
.google{
	width:20%;
	height:15px;
	background-color:#179a2e;
	color:white;
	padding:10px;
	margin-bottom:10px;
	margin-left:22%;
	text-align:center;
	font-size:110%;
	vertical-align:middle;
	border-radius:5px;
	
	}
	.facebook{
		
	width:20%;
	height:15px;
	background-color:#179a2e;
	color:white;
	padding:10px;
	margin-bottom:10px;
	margin-left:50%;
	text-align:center;
	font-size:110%;
	vertical-align:middle;
	border-radius:5px;
	}
	
.google:hover{
	background-color:#21ca21;
}
.facebook:hover{
	background-color:#21ca21;
}

